.slideshowContainer {
    position: relative;
    max-width: 575px;
    margin: auto;
    overflow: hidden;
    border-radius: 12.5px;
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides {
    min-width: 100%;
    box-sizing: border-box;
}

.slides img {
    width: 100%;
}

.text {
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* Adjusted transparency */
    color: #fff;
    padding: 10px; /* Added padding for better visibility */
    top: 20px;
    left: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a73e8; /* Fresh blue color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px; /* Larger font size for better visibility */
    opacity: 0.8; /* Slight transparency for a modern look */
    transition: opacity 0.3s; /* Smooth hover effect */
}

.prev:hover, .next:hover {
    opacity: 1; /* Fully opaque on hover */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
